:root[data-theme='default-amoled'] {
  --accent-color: #DA0101;
  --highlight-color: #E0E0E0 !important;
  --dark-color-base-hue: 220deg !important;
  --dark-color-base-saturation: 5% !important;
  --dark-color-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 0% !important;
  --dark-color-light-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 5%;
  --dark-color-very-light-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 8%;
  --dark-color-dim-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 3%;
  --dark-color-very-dim-hsl: var(--dark-color-base-hue), var(--dark-color-base-saturation), 4%;
  --dm-shadow: 0px 4px 7px hsla(var(--dark-color-very-light-hsl), 0.25);
  --white-color-hsl: var(--white-color-hue), var(--white-color-saturation), 90%;
  --gray-color-light: hsl(var(--gray-color-light-hsl));
  --gray-color-light-hsl: var(--gray-color-base-hue), 10%, 28%;
  --gray-color-base-hue: 216;
  --primary-color: var(--blue-color-dim);
  --primary-color-light: var(--blue-color);
  --primary-color-dim-hsl: var(--blue-color-base-hue), var(--blue-color-base-saturation), 40%;
  --primary-color-dim: hsl(var(--primary-color-dim-hsl));
  --danger-color: var(--red-color-dim);
  --danger-color-light-hsl: var(--red-color-base-hue), var(--red-color-base-saturation), 50%;
  --danger-color-light: hsl(var(--danger-color-light-hsl));
  --danger-color-dim-hsl: var(--red-color-base-hue), var(--red-color-base-saturation), 40%;
  --danger-color-dim: hsl(var(--danger-color-dim-hsl));
  --skeleton-swipe-background: var(--dark-color-very-light);
}