.font-size-8 {
  font-size: .8rem !important;
}
.font-size-26 {
  font-size: 2.6rem !important;
}

.font-scale-12 {
  font-size: 1.2rem;
}
.font-scale-14 {
  font-size: 1.4rem;
}
.font-scale-16 {
  font-size: 1.6rem;
}
.font-scale-18 {
  font-size: 1.8rem;
}
.font-scale-20 {
  font-size: 2rem;
}
.font-scale-23 {
  font-size: 2.3rem;
}
.font-scale-24 {
  font-size: 2.4rem;
}
.font-scale-34 {
  font-size: 3.4rem;
}
.font-scale-40 {
  font-size: 4rem;
}
.font-scale-50 {
  font-size: 5rem;
}

.font-enlarge-14 {
  font-size: 1.4rem;
}

.square-scale-18 {
  width: 1.8rem;
  height: 1.8rem;
}
.block-scale-30 {
  block-size: 3rem;
}
.block-scale-43 {
    block-size: 4.3rem;
}

/* Fixes unreasonably large text for portrait screens on mobile. */
@media (max-width: 690px) {
  .font-scale-12 {
    font-size: 1rem !important;
  }
  .font-scale-14 {
    font-size: 1.2rem !important;
  }
  .font-scale-16 {
    font-size: 1.4rem !important;
  }
  .font-scale-18 {
    font-size: 1.4rem !important;
  }
  .font-scale-20 {
    font-size: 1.6rem !important;
  }
  .font-scale-23 {
    font-size: 1.7rem !important;
  }
  .font-scale-24 {
    font-size: 1.8rem !important;
  }
  .font-scale-34 {
    font-size: 2.8rem !important;
  }
  .font-scale-40 {
    font-size: 2.4rem !important;
  }
  .font-scale-50 {
    font-size: 4.2rem !important;
  }

  .font-enlarge-14 {
    font-size: 1.8rem !important;
  }

  .square-scale-18 {
    width: 1.4rem;
    height: 1.4rem;
  }
  .block-scale-30 {
    block-size: 2.5rem !important;
  }
  .block-scale-43 {
    block-size: 3.6rem !important;
  }
}

@media (max-height: 500px) {
  .d-sm-h-none {
    display: none !important;
  }
  .d-sm-h-block {
    display: block !important;
  }
  .my-sm-h-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-height: 501px) {
  .mt-md-h-auto {
    margin-top: auto !important;
  }
}

@media (min-width: 769px) {
  .viewport-md-4-3 {
    width: 80vw !important;
    height: 60vh !important;
  }
  .border-md {
    border: .1rem solid var(--gray-color-light)
  }
  .mr-md-80 {
    margin-right: 8rem !important
  }
  .pr-md-30 {
    padding-right: 3rem !important;
  }
  .py-md-2 {
    padding-top: .2rem !important;
    padding-bottom: .2rem !important;
  }
  .px-md-40 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
  .px-md-50 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

@media (min-width: 993px) {
  .ml-lg-280 {
    margin-left: 28rem !important;
  }
  .px-lg-30 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}