/node_modules/
.idea/
.vscode/
*.map
.sourcemaps
dist/
*.gradle

*.jks
*.pepk
# *.bat
pepk.jar
encryption_public_key.pem

package-lock.json
.env
.DS_Store

/android/app/src/main/assets
android/capacitor-cordova-android-plugins